/*
   ____ ___  _     ___  ____  ____  
  / ___/ _ \| |   / _ \|  _ \/ ___| 
 | |  | | | | |  | | | | |_) \___ \ 
 | |__| |_| | |__| |_| |  _ < ___) |
  \____\___/|_____\___/|_| \_\____/ 
                                                                     
*/


$deloitte-blue: 		#002776;
$deloitte-mid-blue: 	#00a1de;
$deloitte-light-blue: 	#72c7e7;

$deloitte-green: 		#92d400;
$deloitte-dark-green: 	#3c8a2e;
$deloitte-light-green: 	#c9dd03;

$white: #FFFFFF;
$deloitte-dark-gray: 	#8c8c8c;
$deloitte-mid-gray: 	#b4b4b4;
$deloitte-light-gray: 	#dcdcdc;

$black: 				#000000;
