/*
   ____    _    _____ _____ __  __ 
 |  _ \  / \  |  ___| ____|  \/  |
 | | | |/ _ \ | |_  |  _| | |\/| |
 | |_| / ___ \|  _| | |___| |  | |
 |____/_/   \_\_|   |_____|_|  |_|
                                  
*/

@charset "UTF-8";
@import "compass";

/*  

----COMPASS MIXINS----
 @include box-shadow($charcoal 3px 3px 5px); 
 @include border-radius(0px);
 @include transition(all 0.3s ease-in);
 @include transform(rotate(0deg) skew(-10deg, -10deg));

//xtra large range (1441px --> 1920px)
@media only screen and (min-width: 64.063em) and (max-width: 90em) {
	
}

//large range (1025px --> 1440px)
@media only screen and (min-width: 64.063em) and (max-width: 90em) {
	
}

//medium range (641px --> 1024px)
@media only screen and (min-width: 40.063em) and (max-width: 64em) {

}

//small range (0px --> 640px)
@media only screen and (min-width: 0em) and (max-width: 40em) {
	
}
 */

$default-border-radius: 0px;


/* -------------------------- BEGIN FONT VARIABLES ------------------------- */

$font1: 'Open Sans', sans-serif;
$font2: Arial, Helvetica, sans-serif;
$font3: 'Source Sans Pro', sans-serif;

/* -------------------------- END FONT VARIABLES --------------------------- */


/* -------------------------- BEGIN SASS PARTIALS -------------------------- */

@import "cssreset";
@import "colors";
@import "foundation-overrides";
@import "nav";
@import "smoothDivScroll";

/* -------------------------- END SASS PARTIALS ---------------------------- */


html, body {
	font-family: $font1;
	padding: 0px;
	margin: 0px;
	background-color: lighten($deloitte-mid-gray, 10%);
}

.container-main {
	min-height: 800px;
	margin-top: 2em;
	margin-right: auto;
	margin-bottom: 2em;
	margin-left: auto;
	padding: 0px;
	max-width: 1100px;
	background-image: url("../img/bg.jpg");
	background-repeat: no-repeat;
	background-size: cover;
	border: 3px solid $white;
	position: absolute;
	left: 0%;
	right: 0%;
}

.main-title {
	float: left;
	width: 100%;
	height: 50px;
	padding: 20px 0px 20px 0px;
	position: absolute;
	top: 200px;
	right: 0%;
	left: 0%;

	span {
		float: left;
		width: 30%;
		border-bottom: 1px solid $deloitte-blue;
	}

	p {
		float: left;
		width: 40%;
		font-weight: 600;
		font-size: 1em;
		text-align: center;
		margin: -10px 0px 0px 0px;
	}
}

.notes {
	display: none;
	background-color: #f9f6be;
	width: 300px;
	height: 600px;
	border: 3px solid $white;
	position: absolute;
	top: 50px;
	right: 0px;
	z-index: 1000;
	-moz-box-shadow: -2px 0px 6px #444;
	-webkit-box-shadow: -2px 0px 6px #444;
	box-shadow: -2px 0px 6px #444;

	.notes-header {
		height: 40px;
		background-color: #eacf63;
		font-size: 1.2em;
		text-transform: uppercase;
		border-bottom: 3px solid $white;
		padding: 10px 15px 10px 20px;

		span {
			float: left;
			width: 10%;
			height: 40px;
		}

		p {
			float: left;
			width: 70%;
			height: 40px;
			text-align: left;
			padding: 0px 0px 0px 4px;
			font-size: .95em;
			font-weight: 600;
		}

		aside {
			float: left;
			width: 20%;
			height: 40px;
			text-align: right;

			img {
				&:hover {
					cursor: pointer;
				}
			}
		}
	}

	.notes-body {
		height: 540px;
		background-color: #f9f6be;
		font-size: .9em;
		line-height: 1.3em;
		padding: 15px 15px 10px 20px;
		overflow-y: scroll;

		article {
			float: left;
			width: 100%;
			margin: 0px 0px 20px 0px;

			h2 {
				font-weight: 600;
				font-size: 1em;
				color: black;
				padding: 0px 0px 10px 0px;
			}

			p {
				font-size: .9em;
				line-height: 1.4em;
			}
		}
	}
}

#scrollableNav {
	width:100%;
	height: 250px;
	position: relative;
	background-color: $white;
	padding: 25px 0px 20px 0px;
	margin: 0px 0px 0px 0px;
	border-top: 5px solid $deloitte-dark-gray;
	border-bottom: 5px solid $deloitte-dark-gray;
	position: absolute;
	top: 250px;
	right: 0%;
	left: 0%;

	div.scrollableArea img {
		position: relative;
		float: left;
		margin: 0em;
		padding: 0em;
		-webkit-user-select: none;
		-khtml-user-select: none;
		-moz-user-select: none;
		-o-user-select: none;
		user-select: none;
	}
}

.progress-bar {
	width: 440px;
	height: 50px;
	margin-top: 200px;
	margin-left: auto;
	margin-right: auto;
	margin-bottom: -.3em;
	text-align: center;
	position: absolute;
	bottom: 50px;
	right: 0%;
	left: 0%;
}

footer {
	width: 100%;
	height: 50px;
	position: relative;
	bottom: 0em;
	background-color: darken($deloitte-dark-gray, 25%);
	border-top: 4px solid $white;
	padding: 10px 0px 0px 20px;
	position: absolute;
	left: 0%;
	right: 0%;
}

